<ng-container *ngIf="{modelInfo: modelAndColorConfig$ | async, configInfo: configOptions$ | async} as summary">
  
  <h1>Step 3: Summary</h1>

  <h3>Your Tesla {{summary.modelInfo?.description}}</h3>
 
  <section class="flex common-space">
    <span class="equal-flex-item">{{summary.configInfo?.configs?.[0]?.description}}</span>
    <span class="equal-flex-item">{{summary.configInfo?.configs?.[0]?.price | currency}}</span>
  </section>
  <h6>Range: {{summary.configInfo?.configs?.[0]?.range}} - Max speed: {{summary.configInfo?.configs?.[0]?.speed}}</h6>
  
  <section class="flex common-space">
    <span class="equal-flex-item">{{summary.modelInfo?.colors?.[0]?.description}} color</span>
    <span class="equal-flex-item">{{summary.modelInfo?.colors?.[0]?.price | currency}}</span>
  </section>

  <ng-container *ngIf="summary.configInfo?.towHitch">
    <section class="flex common-space">
      <span class="equal-flex-item">Tow Hitch Package</span>
      <span class="equal-flex-item">{{1000 | currency}}</span>
    </section>
  </ng-container>

  <ng-container *ngIf="summary.configInfo?.yoke">
    <section class="flex common-space">
      <span class="equal-flex-item">Yoke steering wheel Package</span>
      <span class="equal-flex-item">{{1000 | currency}}</span>
    </section>
  </ng-container>

  <section class="flex common-space total">
    <span class="equal-flex-item">{{'total cost' | uppercase}}</span>
    <span class="equal-flex-item">
      {{(summary.configInfo?.configs?.[0]?.price??0) | totalCost : (summary.modelInfo?.colors?.[0]?.price??0) : (summary.configInfo?.towHitch??false) : (summary.configInfo?.yoke??false) | currency}}
    </span>
  </section>

</ng-container>