<section>
  
  <h1>Step 3: Summary</h1>
  <h3>Your Tesla {{model.description}}</h3>
 
  <section class="flex common-space">
    <span class="equal-flex-item">{{configOptions.configs[0].description}}</span>
    <span class="equal-flex-item">{{configOptions.configs[0].price | currency}}</span>
  </section>
  
  <h6>Range: {{configOptions.configs[0].range}} - Max speed: {{configOptions.configs[0].speed}}</h6>
  
  <section class="flex common-space">
    <span class="equal-flex-item">{{color.description}} color</span>
    <span class="equal-flex-item">{{color.price | currency}}</span>
  </section>

  <ng-container *ngIf="configOptions.towHitch">
    <section class="flex common-space">
      <span class="equal-flex-item">Tow Hitch Package</span>
      <span class="equal-flex-item">{{1000 | currency}}</span>
    </section>
  </ng-container>

  <ng-container *ngIf="configOptions.yoke">
    <section class="flex common-space">
      <span class="equal-flex-item">Yoke steering wheel Package</span>
      <span class="equal-flex-item">{{1000 | currency}}</span>
    </section>
  </ng-container>

  <section class="flex common-space total">
    <span class="equal-flex-item">{{'total cost' | uppercase}}</span>
    <span class="equal-flex-item">
      {{(configOptions.configs[0].price) | totalCost : (color.price) : (configOptions.towHitch) : (configOptions.yoke) | currency}}
    </span>
  </section>

</section> 
