/* You can add global styles to this file, and also import other style files */
@import "../node_modules/mini.css/dist/mini-dark.min.css";

body {
    box-sizing: border-box;
}

header {
    border: none !important;
}

.flex {
    display: flex;
}

.container {
    width: 100%;
}

.equal-flex-item {
    flex: 1;
}

.center-text {
    text-align: center;
}

