<ng-container *ngIf="(configOptions$ | async) as configOptions">
  <h1>Step 2: Select your config and options</h1> 
  
  <section>
      <section>
          <label for="config">Config :</label>
          <select id="configSelect" 
                  name="config"  
                  [compareWith]="compareConfigs"
                  [(ngModel)]= "selectedConfig"  
                  (change)="configChange()">
            <option>Choose</option>
            <option *ngFor="let config of configOptions.configs"
                    [ngValue]="config">
              {{config.description}}
            </option>
          </select>
      </section>

      <ng-container *ngIf="selectedConfig?.range">
        <span>
          Range: {{selectedConfig.range}} - 
          Max speed: {{selectedConfig.speed}} - 
          Cost: {{selectedConfig.price | currency}}
        </span>
      </ng-container>

      <ng-container *ngIf="configOptions.towHitch">
        <section>
          <label for="tow">Tow hitch</label>
          <input type="checkbox" id="includeTow" name="tow" [(ngModel)]="includeTow" (change)="configChange()"/>
        </section>
      </ng-container>

      <ng-container *ngIf="configOptions.yoke">
        <section>
          <label for="yoke">Yoke steering wheel</label>
          <input type="checkbox" id="includeYoke" name="yoke" [(ngModel)]="includeYoke" (change)="configChange()"/>
        </section>
      </ng-container>

  </section>
  
</ng-container>